Conditional Statement

In [3]:
a = int(input("Enter a number:"))
print(a)
print(type(a))

Enter a number:6
6
<class 'int'>

In [5]:
a = int(input("Enter a number:"))
if a>=0:
  print("Positive Number")
else:
  print("Negative Number")

Enter a number:-4
Negative Number

In [6]:
a = int(input("Enter a number:"))
if a>0:
  print("Positive Number")
elif a==0:
  print("It's a zero")
else:
  print("Negative Number")

Enter a number:0
It's a zero

In [7]:
a = int(input("Enter a number:"))
if a>0:
  print("Positive Number")
elif a==0:
  print("It's a zero")
elif a<0:
  print("Negative Number")

Enter a number:-8
Negative Number

Loops - For | While

In [8]:
## While Loop

In [ ]:
i = 0
while i<10:
  print("The value of i is "+str(i))
  i = i+1

In [14]:
"a"+str(1)

'a1'

In [ ]:
while True:
  print("Infinite Loop")

In [ ]:
i = 0
while i<10:
  print("The value of i is",i)
  i = i+1

In [16]:
### For loop

In [17]:
for i in range(10):
  print("The value of i is "+str(i))

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9

In [18]:
for i in range(20):
  print("The value of i is "+str(i))

The value of i is 0
The value of i is 1
The value of i is 2
The value of i is 3
The value of i is 4
The value of i is 5
The value of i is 6
The value of i is 7
The value of i is 8
The value of i is 9
The value of i is 10
The value of i is 11
The value of i is 12
The value of i is 13
The value of i is 14
The value of i is 15
The value of i is 16
The value of i is 17
The value of i is 18
The value of i is 19

In [19]:
for i in range(10,20):
  print("The value of i is "+str(i))

The value of i is 10
The value of i is 11
The value of i is 12
The value of i is 13
The value of i is 14
The value of i is 15
The value of i is 16
The value of i is 17
The value of i is 18
The value of i is 19

In [20]:
for i in range(10,30,3):
  print("The value of i is "+str(i))

The value of i is 10
The value of i is 13
The value of i is 16
The value of i is 19
The value of i is 22
The value of i is 25
The value of i is 28

In [21]:
### Break and continue statement

In [23]:
nos = []
while True:
  a = int(input("Enter a number:"))
  if a == 0:
    break
  nos.append(a)

print(nos)

Enter a number:3
Enter a number:4
Enter a number:2
Enter a number:5
Enter a number:3
Enter a number:0
[3, 4, 2, 5, 3]

In [24]:
nos = []
while True:
  a = int(input("Enter a number:"))
  if a == 0:
    break
  if a in nos:
    continue
  nos.append(a)

print(nos)

Enter a number:1
Enter a number:2
Enter a number:2
Enter a number:3
Enter a number:3
Enter a number:0
[1, 2, 3]

Functions
1. Function without argument or attributes
2. Function with argument or attributes
3. Function with default argument or attributes
4. Function with return statement

In [28]:
print()

In [26]:
len()

TypeError: ignored

In [29]:
a = print("Umang")

Umang

In [30]:
print(a)

None

In [31]:
a = len("Umang")

In [32]:
print(a)

5

In [33]:
## Function without argument or attributes

In [34]:
def greet():
  print("Hello, how are you?")

In [35]:
greet()
greet()
greet()

Hello, how are you?
Hello, how are you?
Hello, how are you?

In [39]:
## Function with argument or attributes

In [36]:
def greet_with_name(name):
  print("Hello, how are you "+name+"?")

In [38]:
greet_with_name("Umang")

Hello, how are you Umang?

In [40]:
## Function with default argument or attributes

In [41]:
def greet_with_name_default(name="Unknown"):
  print("Hello, how are you "+name+"?")

In [42]:
greet_with_name_default()

Hello, how are you Unknown?

In [43]:
greet_with_name_default("Umang")

Hello, how are you Umang?

In [44]:
# Function with return statement

In [48]:
def add_two_num(x,y):
  return(x+y)

In [49]:
result = add_two_num(10,20)

In [50]:
print(result)

30

In [51]:
## File Handling

In [52]:
### Write / Create a file

In [53]:
file = open("demo.txt","w")
file.write("This is a test file.")
file.close()

In [54]:
file = open("demo.txt","w")
file.write("My name is Umang.")
file.close()

In [ ]:
### Append a file

In [55]:
file = open("demo.txt","a")
file.write("I love coding.")
file.close()

In [56]:
file = open("demo.txt","a")
file.write("\n")
file.write("I love games.")
file.close()

In [59]:
file = open("demo.txt","a")
file.write("\n")
file.write("I love movies.")
file.close()

In [60]:
### Read a file

In [61]:
file = open("demo.txt","r")
data = file.read()
file.close()
print(data)

My name is Umang.I love coding.
I love games.
I love movies.

In [62]:
file = open("demo.txt","r")
data = file.read(10)  ## 10 chars
file.close()
print(data)

My name is

In [63]:
file = open("demo.txt","r")
data = file.readline()  ## firstline
file.close()
print(data)

My name is Umang.I love coding.

In [64]:
file = open("demo.txt","r")
data = file.readline(5)  ## firstline (5 chars)
file.close()
print(data)

My na

In [65]:
file = open("demo.txt","r")
data = file.readlines()
file.close()
print(data)

['My name is Umang.I love coding.\n', 'I love games.\n', 'I love movies.']

In [66]:
### read second line

In [67]:
file = open("demo.txt","r")
data = file.readlines()
file.close()
print(data[1])

I love games.