In [2]:
import pandas as pd

In [3]:
#1
data = pd.read_csv("Salaries.csv")

In [3]:
#2
data.shape

(78, 6)

In [14]:
#3
print("First 10 rows are: ")
data.head(10)

First 10 rows are:

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

In [13]:
print("Last 15 rows are: ")
data.tail(15)

Last 15 rows are:

         rank discipline  phd  service     sex  salary
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [27]:
#4
male = data[data['sex'] == 'Male']
male_highest_sal = male.loc[male['salary'].idxmax()]
male_lowest_sal = male.loc[male['salary'].idxmin()]
print("Lowest salary male professor")
print(male_lowest_sal)

print("Highest salary male professor")
print(male_highest_sal)

Lowest salary male professor
rank           Prof
discipline        A
phd              51
service          51
sex            Male
salary        57800
Name: 9, dtype: object
Highest salary male professor
rank            Prof
discipline         B
phd               56
service           49
sex             Male
salary        186960
Name: 0, dtype: object

In [28]:
#4
female = data[data['sex'] == 'Female']
female_highest_sal = female.loc[female['salary'].idxmax()]
female_lowest_sal = female.loc[female['salary'].idxmin()]
print("Highest salary female professor")
print(female_highest_sal)
print("Lowest salary female professor")
print(female_lowest_sal)

Highest salary female professor
rank            Prof
discipline         B
phd               24
service           15
sex           Female
salary        161101
Name: 72, dtype: object
Lowest salary female professor
rank          AssocProf
discipline            A
phd                  25
service              22
sex              Female
salary            62884
Name: 54, dtype: object

In [30]:
#5
highest_sal = data.loc[data['salary'].idxmax()]
lowest_sal = data.loc[data['salary'].idxmin()]
print("highest salary professor: ")
print(highest_sal)
print("lowest salary professor:")
print(lowest_sal)

highest salary professor:
rank            Prof
discipline         B
phd               56
service           49
sex             Male
salary        186960
Name: 0, dtype: object
lowest salary professor:
rank           Prof
discipline        A
phd              51
service          51
sex            Male
salary        57800
Name: 9, dtype: object

In [56]:
#6
mean_salary = round(data['salary'].mean())
print(mean_salary)
data['salary'] = data['salary']
print(data)
data.isnull().sum()  #no null

108024
         rank discipline  phd  service     sex  salary
0        Prof          B   49       49    Male  186960
1        Prof          A    6        6    Male   93000
2        Prof          A   20       20    Male  110515
3        Prof          A   31       31    Male  131205
4        Prof          B   18       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   10       10  Female  105450
74  AssocProf          B    6        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   14       14  Female  109954
77       Prof          A   15       15  Female  109646

[78 rows x 6 columns]

rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [55]:
#7
mean_service = round(data['service'].mean())
print(mean_service)
data['phd'] = data['phd'].fillna(mean_service)
print(data)
data.isnull().sum()  #no null data

15
         rank discipline  phd  service     sex  salary
0        Prof          B   49       49    Male  186960
1        Prof          A    6        6    Male   93000
2        Prof          A   20       20    Male  110515
3        Prof          A   31       31    Male  131205
4        Prof          B   18       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   10       10  Female  105450
74  AssocProf          B    6        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   14       14  Female  109954
77       Prof          A   15       15  Female  109646

[78 rows x 6 columns]

rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [39]:
#8
male_count = data['sex'].value_counts()['Male']
female_count = data['sex'].value_counts()['Female']
print("Male staff: " , male_count)
print("Female staff: ", female_count)

Male staff:  39
Female staff:  39

In [43]:
#9
prof = data['rank'].value_counts()['Prof']
assocProf = data['rank'].value_counts()['AssocProf']
asstProf = data['rank'].value_counts()['AsstProf']

print("No. of professor: ",prof)
print("No. of associate professor: ", assocProf)
print("No. of assistant professor: ", asstProf)

No. of professor:  46
No. of associate professor:  13
No. of assistant professor:  19

In [48]:
#10
senior = data.loc[data['service'].idxmax()]
senior

rank           Prof
discipline        A
phd              51
service          51
sex            Male
salary        57800
Name: 9, dtype: object

In [49]:
junior = data.loc[data['service'].idxmin()]
junior

rank          AsstProf
discipline           B
phd                  1
service              0
sex               Male
salary           88000
Name: 12, dtype: object