In [1]:
print(20+30)

50

In [2]:
a=20
b=30
print(a+b)

50

In [3]:
print(a * b)

600

In [4]:
print(a - b)

-10

In [5]:
print(a / b)

0.6666666666666666

In [6]:
print(b // a)

1

In [7]:
a = 2
b = 4
print(a ** b)

16

In [8]:
print(a%b)

2

In [9]:
a = 10
print(type(a))

<class 'int'>

In [10]:
a1 = 10.5
print(type(a1))

<class 'float'>

In [11]:
a2 = "Hello"
print(type(a2))

<class 'str'>

In [12]:
a3 = 'World'
print(type(a3))

<class 'str'>

In [13]:
a4 = True
print(type(a4))

<class 'bool'>

In [14]:
#list
a5 = [1,2,3,4,5]
print(type(a5))

<class 'list'>

In [15]:
print(len(a5))

5

In [16]:
print(a5[2])

3

In [17]:
print(a5[-1])

5

In [18]:
print(a5[:])

[1, 2, 3, 4, 5]

In [19]:
print(a5[2:4])

[3, 4]

In [20]:
print(a5[:4])

[1, 2, 3, 4]

In [21]:
x = [1,2,3,4,5,6,7,8,9,10]

In [22]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
print(x[2:9:3])

[3, 6, 9]

In [24]:
x.append(20) #inserting new values into list

In [25]:
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20]

In [26]:
#tuple
y = (1,2,3,4,5)

In [27]:
print(y)

(1, 2, 3, 4, 5)

In [31]:
#dictionary
dict = {"name":"Hello", "roll no.":31, "marks":{"Java":20, "python":10}}

In [32]:
print(dict)

{'name': 'Hello', 'roll no.': 31, 'marks': {'Java': 20, 'python': 10}}

In [34]:
print(dict["marks"]["python"])

10

In [35]:
print(dict['name'])

Hello